:root
{
    --light_primary: #ebced5;
    --dark_primary: #8e44ad;
    --faint_bg: #E5F6EE;

    --bg_colour: #f5fff5;
    --text_colour: #001100;
}

body {
    background: #212121;
}

#side_nav {
    background: #000;
    min-width: 200px;
    max-width: 200px;
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
    color: #eee;
}

hr.h-color {
    background: #212121;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

.list-group {
    min-width: 350px;
    max-width: 350px;
    gap: 20px;
}

.list-group-item {
    border-radius: 10px;
    padding: 10px;
    z-index: 0;
    max-height: 80px;
    overflow: hidden;
}

.list-group-item.active,
.list-group-item:hover {
    z-index: 0;
}

.self{
    margin-left: auto;
}

.profile_top {
    column-gap: 10px;
    font-size: 22px;
    text-align: center;
    align-items: center;
}

.profile_top h2 {
    font-size: 22px;
}

.profile_top img {
    max-height: 60px;
    margin: 5% 0;
}

.hide
{
    display: none;
}

.full_page_content
{
    height: calc(100vh - 16px);
}

.chat-groups .active
{
    background-color: #DC3545;
    border-color: #DC3545;
}

.messages::-webkit-scrollbar {
    display: none;
}

.messages
{
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    flex: 80%;
    max-height: 80%;
}

.profile_top, #formSendMsg
{
    flex: 10%;
    max-height: 10%;
}

@media (min-width: 1100px)
{
    .small_to_chat
    {
        display: none;
    }
}

@media (max-width: 1100px) {
    .chat {
        display: none;
    }

    .list-group {
        max-width: 100%;
        min-width: 100%;
    }
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;

    }

    #side_nav.active {
        margin-left: 0;
    }
}