body {
    background: var(--bs-secondary-bg);
    overflow: hidden;
}

  #side_nav {
    background: var(--bs-tertiary-bg);
    min-width: 200px;
    max-width: 200px;
    transition: all 0.3s;
}

.content {
    min-height: 100vh;
    width: 100%;
}

hr.h-color {
    background: var(--bs-body-color);
}

.sidebar li.active {
    background: var(--bs-light-text-emphasis);
    border-radius: 8px;
}

.sidebar li.active a,
.sidebar li.active a:hover {
    color: var(--bs-tertiary-bg);
}

.sidebar li a {
    color: var(--bs-dark-text-emphasis);
}

.list-group {
    min-width: 350px;
    max-width: 350px;
    gap: 20px;
}

.list-group-item {
    border-radius: 10px;
    padding: 10px;
    z-index: 0;
    max-height: 80px;
}

.list-group-item.active,
.list-group-item:hover {
    z-index: 0;
}

.self{
    margin-left: auto;
}

.profile_top {
    column-gap: 10px;
    font-size: 22px;
    text-align: center;
    align-items: center;
}

.profile_top h2 {
    font-size: 22px;
}

.profile_top img {
    max-height: 60px;
    margin: 5% 0;
}

.hide
{
    display: none;
}

.full_page_content
{
    height: calc(100vh - 16px);
}

.chat-groups .active
{
    background-color: #DC3545;
    border-color: #DC3545;
}

.chat-groups .groups, .collegues .groups
{
    height: 90%;
    max-height: 90%;
    flex: 90%;
}

.chat-groups .new_group, .collegues .new_group
{
    height: 10%;
    max-height: 10%;
    flex: 10%;
}

.new_group_modal_users_text
{
    text-align: center;
}

.messages::-webkit-scrollbar {
    display: none;
}

.messages
{
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    flex: 80%;
    max-height: 80%;
}

.group_no_users_text {
    text-align: center;
}

.profile_top, #formSendMsg
{
    flex: 10%;
    max-height: 10%;
}

@media (min-width: 1100px)
{
    .small_to_chat
    {
        display: none;
    }
}

@media (max-width: 1100px) {
    .chat {
        display: none;
    }

    .list-group {
        max-width: 100%;
        min-width: 100%;
    }
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;

    }

    #side_nav.active {
        margin-left: 0;
    }
}